html {
    min-height: 100%;
}

body {
    background-image: url('img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Raleway', sans-serif;
    min-height: 100%;
}

.form-button {
    text-align: center;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    opacity: 0.9;
}

.form-red {
    background-color: #9d0b0e;
}

.form-green {
    background-color: #598527;
}

.form-button:hover {
    opacity: 1;
}

.form-box {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 25px;
    color: white;
    padding: 25px 10px;
    margin: 10px;
}

.form-divider {
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-checkbox-label {
    font-size: 25px;
    margin-top: -10px;
}

.form-summary-info {
    margin-bottom: 30px;
    margin-top: 30px;
}

    .form-summary-info p {
        margin: 0;
        padding-left: 50px;
    }

h4 {
    padding-left: 50px;
}

.table-column {
    white-space: nowrap;
    padding: 5px 10px;
}

.table-column-short {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
    padding: 5px 0px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        /* Position the tooltip */
        position: absolute;
        z-index: 1;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
    }

.my-pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
    margin-top: 20px;
}

    .my-pagination li {
        border: 1px solid white;
        border-radius: 5px;
        margin: 0px 2px;
    }

        .my-pagination li a {
            padding: 0px 15px;
            font-size: 20px;
        }

        .my-pagination li span {
            padding: 0px 15px;
            font-size: 20px;
        }